nav {
	padding: 20px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.1vh solid wheat;
	margin-bottom: 1vh;
}

nav ul {
	display: flex;
	gap: 50px;
}

nav a {
	font-weight: 700;
	font-size: 1.5rem;
	transition: all .5s ease;
}

nav a:hover {
	
}